# Archivos del sistema macOS
.DS_Store
**/.DS_Store

# Archivos temporales y de caché
*.log
*.tmp
*.cache
*.bak
*.swp

# Configuración de editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Dependencias PHP (si usamos Composer)
vendor/
composer-setup.php

# Archivos de entorno
.env
.env.local
.env.*.local

# Carpetas de despliegue o build
/build/
/cache/
/tmp/
dist/

#Logs
correo_log.txt


php_classes/CaptchaValidator.php
